*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.aar
*.jar
/local.properties

/.idea/
/captures/
/captures/*
*.iml
navigation.xml
system-images/android-30/google_apis/x86/system.img